.project-component {
  cursor: default;
}

.project-header {
  cursor: default;
}

.project-count {
  cursor: default;
}

.project-genre {
  cursor: default;
}

.project-store-link {
  cursor: pointer;
}
