
.hidden-menu-button {
    @apply fixed bg-neutral-800 text-white border-none cursor-pointer p-[10px] transition-[right] duration-500 ease-in-out z-[1002];
    top: var(--menu-height);
}

.hidden-menu-container {
    @apply fixed overflow-y-auto transition-all duration-500 ease-in-out bg-white border-l-2 border-l-neutral-800 text-black z-[1001];
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    top: var(--menu-height);
    height: calc(100vh - 99px);
    width: 300px;
}

.hidden-menu-content {
    @apply p-[8px_16px];
}

.menu-table {
    @apply table;
}

.menu-table-cell {
    @apply p-[8px_16px] table-cell;
}
