/* Sub-navigation styles */
.sub-nav {
    @apply fixed overflow-y-auto p-10 w-[100px];
    top: var(--menu-height);
    height: calc(100vh - 99px);
}

/* Main content styles common to both cases */
.main-content {
    @apply relative h-[calc(100vh-99px)] overflow-y-auto;
    padding-top: var(--menu-height);
}

/* When the sub-nav is present, add left margin */
.main-content.with-sub-nav {
    margin-left: var(--sub-menu-width);
}

/* When the sub-nav is absent, no left margin */
.main-content.without-sub-nav {
    @apply ml-0;
}
